@import '~bulma/sass/utilities/_all.sass';

@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/dropdown.sass';
@import '~bulma/sass/components/modal.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/form/_all.sass';

:root {
	--background: #{$background};
	--border: #{$border};
	--warning: #{$warning};

	--grey-dark: #{$grey-dark};
	--grey-light: #{$grey-light};
	--grey-lighter: #{$grey-lighter};
	--white-ter: #{$white-ter};
	--white-bis: #{$white-bis};
	--white: #{$white};

	--building-color: var(--grey-light);

	--navbar-background: var(--white);
	--navbar-text: var(--grey-dark);

	// Widget settings
	--base-widget-width: 150px;
	--base-widget-height: 150px;
	--widget-margin: 5px;
	--widget-background: var(--white-bis);
	--widget-text: var(--grey-dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #{invert($background)};
		--border: #{invert($border)};
		--warning: #{darken($warning, 25%)};

		--building-color: var(--grey-light);

		--navbar-background: var(--grey-dark);
		--navbar-text: var(--white);

		--widget-background: var(--grey-dark);
		--widget-text: var(--white-ter);
	}
}

html,
body {
	background: var(--background);
}

pre {
	padding: 0;
}

.ReactModal__Body--open {
	@extend .is-clipped;
}

.ReactModalPortal {
	@extend .modal;
	@extend .is-active;
}

.ReactModal__Overlay {
	@extend .modal-background;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
}

.ReactModal__Content {
	@extend .modal-content;
}

.navbar {
	background: var(--navbar-background);

	.navbar-item,
	.navbar-link {
		color: var(--navbar-text);
	}
}

// Override
@media screen and (min-width: 1024px) {
	.navbar > .container .navbar-brand,
	.container > .navbar .navbar-brand {
		margin-left: 0;
	}
}

.field.is-grouped .control {
	.select:not(:first-child) {
		margin-left: 1em;
	}
}

.is-pulled-right {
	margin-left: auto;
}

button.dropdown-item {
	border: 0;
}
