@import 'styles/settings';

@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/layout/_all.sass';
@import '~bulma/sass/grid/_all.sass';
@import '~bulma/sass/elements/_all.sass';
@import '~bulma/sass/components/_all.sass';
@import '~bulma/sass/form/_all.sass';

:root {
	--background: #{$background};
	--grey-dark: #{$grey-dark};
	--warning: #{$warning};
	--white: #{$white};

	--building-color: #{$building-color};

	// Widget settings
	--base-widget-width: 150px;
	--base-widget-height: 150px;
	--widget-margin: 5px;
}

html,
body {
	background: $background;
}

pre {
	padding: 0;
}
