@import '../../styles/settings';

.muuri {
	position: relative;
}

$widgetCols: 12;
$widgetRows: 6;

@for $i from 2 through $widgetCols {
	.widget.width-#{$i} {
		$width: #{(100 * ($i/$widgetCols))}vw;
		width: width;
		--widget-width: $width;
	}
}

@for $i from 2 through $widgetRows {
	.widget.height-#{$i} {
		$height: #{(100 * ($i/$widgetRows))}vh;
		height: $height;
		--widget-height: $height;
	}
}

.widget {
	display: block;
	position: absolute;
	width: #{100 * (1 / $widgetCols)}vw;
	height: #{100 * (1 / $widgetRows)}vh;
	z-index: 1;

	--widget-width: #{100 * (1 / $widgetCols)}vw;
	--widget-height: #{100 * (1 / $widgetRows)}vh;

	margin: 5px;

	&.muuri-item-dragging {
		z-index: 3;
	}

	&.muuri-item-releasing {
		z-index: 2;
	}

	&.muuri-item-hidden {
		z-index: 0;
	}
}

.widget-content {
	position: relative;
	width: 100%;
	height: 100%;

	padding: 5px;
	border: 1px solid $border;
	border-radius: 5px;
	overflow: hidden;
}
