.muuri {
	position: relative;
}

.dashboard {
	& > .edit {
		position: fixed;
		bottom: 10px;
		right: 10px;
	}
}

@for $i from 2 through 4 {
	.widget.width-#{$i} {
		--widget-width: calc(
			var(--base-widget-width) * #{$i} + var(--widget-margin) * (#{$i - 1})
		);
		width: var(--widget-width);
	}
}

@for $i from 2 through 4 {
	.widget.height-#{$i} {
		--widget-height: calc(
			var(--base-widget-height) * #{$i} + var(--widget-margin) * (#{$i - 1})
		);
		height: var(--widget-height);
	}
}

.widget {
	display: block;
	position: absolute;
	z-index: 1;

	--widget-width: var(--base-widget-width);
	--widget-height: var(--base-widget-height);

	margin: var(--widget-margin);
	width: var(--widget-width);
	height: var(--widget-height);

	&.muuri-item-dragging {
		z-index: 3;
	}

	&.muuri-item-releasing {
		z-index: 2;
	}

	&.muuri-item-hidden {
		z-index: 0;
	}
}

.widget-content {
	position: relative;
	width: 100%;
	height: 100%;

	background: var(--widget-background);
	padding: 5px;
	border: 1px solid var(--border);
	border-radius: 5px;
	overflow: hidden;

	color: var(--widget-text);

	.settings {
		position: absolute;
		bottom: 0;
		right: 5px;
	}
}
