.aggregate {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	.icon {
		width: calc(var(--base-widget-width) * 0.75);
		height: calc(var(--base-widget-height) * 0.75);
		object-fit: contain;
	}
}

.width-1 .warn-devices:not(:only-child) {
	display: none;
}
